header	{
	background: $white;

	a {
		line-height: 1;

		&.black {
			padding: 4px 8px 3px;
			background: $black;
			color: $white;
			border-radius: 4px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
		}
	}

	h2 {
		color: #442568;
		font-size: 30px;
	}

	h3 {
		@include poppinsmedium;
	}
}

.wrapper{
	@include span-columns(12);

	.hero {
		background: url('../images/waterfall.jpg') no-repeat;
		background-size: cover;
		background-position: center 20%;
		color: $white;

		& > div {
			padding: 40px;
			background: rgba(0,0,0,.7);
		}

		h3 {
			@include poppinssemibold;
			padding: 0 10%;

			@include media($tablet) {
				padding: 0 5%;
				font-size: 14px;
			}
		}

		h2 {
			@include sairabold;
			font-style: italic;
			font-size: 45px;

			@include media($tablet) {
				font-size: 38px;
			}

			@include media($mobile) {
				font-size: 34px;
			}

			&.no_italics {
				@include poppinsextrabold;
				font-style: normal;
				line-height: 1.2;
				font-size: 42px;

				@include media($tablet) {
					font-size: 38px;
				}
			}
		}

		h4 {
			font-size: 34px;

			@include media($tablet) {
				font-size: 30px;
			}

			&.red {
				font-size: 39px;
				color: $red;

				@include media($tablet) {
					font-size: 35px;
				}
			}
		}
	}

	.intro_section {

		.ribbon_img {
			left: 50%;
			z-index: 2;
			top: 0;
			margin-left: -7%;
			width: auto;

			@include media($desktop) {
				margin-left: -7.5%;
				width: 146px;
			}
			@include media($tablet) {
				width: 105px;
			}

			@include media($mobile) {
				top: -12px;
				margin-left: -9%;
				width: 92px;
			}

			@include media($smallMobile) {
				width: 80px;
			}
		}

		.images {
			margin-top: 60px;

			@include media($mobile) {
				margin-top: 30px;
			}
		}

		p {
			@include media($tablet) {
				font-size: 14px;
			}

			span {
				@include poppinsbold;
				color: $red;
			}
		}

		.images_wrap {
			z-index: 1;
			transform: rotate(-5deg);
			-moz-transform: rotate(-5deg);
			-ms-transform: rotate(-5deg);
			-o-transform-origin: rotate(-5deg);
			-webkit-transform: rotate(-5deg);
			border-top: 10px solid $white;
			border-bottom: 10px solid $white;
			border-right: 5px solid $white;
			border-left: 5px solid $white;
			-webkit-box-shadow: 0px 0px 33px -6px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 0px 33px -6px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 33px -6px rgba(0,0,0,0.75);

			@include media($mobile) {
				border-top-width: 5px;
				border-bottom-width: 5px;
				border-left-width: 0;
				border-right-width: 0;
			}

			&.right {
				transform: rotate(5deg);
				-moz-transform: rotate(5deg);
				-ms-transform: rotate(5deg);
				-o-transform-origin: rotate(5deg);
				-webkit-transform: rotate(5deg);
			}

			p {
				@include opensanssemibold;
				position: absolute;
				left: 8px;
				bottom: -10px;
				background:$white;
				color:$black;
				padding: 5px 20px 5px 5px;
				line-height: 1.6;

				@include media($mobile) {
					font-size: 10px;
					padding: 2px 15px 2px 5px;
				}

				&.after {
					margin-left: -3px;

					@include media($mobile) {
						margin-left: -5px;
					}
				}
			}
		}

		.images_text {

			h2 {
				font-size: 32px;
				margin-top: 20px;

				@include media($tablet) {
					font-size: 24px;
				}
			}

			p {
				@include media($mobile) {
					font-size: 14px;
				}
			}

			a {
				@include media($mobile) {
					width: 50% !important;
				}
			}

		}
	}

	#payment_form {
		margin-top: 60px;
		background: url("../images/payment-background.jpg") no-repeat;
		background-size: cover;
		color: $white;
		padding: 40px 0;

		@include media($tablet) {
			padding: 60px 0 40px;
		}

		@include media($mobile) {
			padding: 20px 0;
		}

		#emailError {
			@include opensanssemibold;
			font-size: 14px;
			color: $red;
		}

		label {
			@include poppinsregular;
			line-height: 1;
		}

		h2 {
			font-size: 34px;

			@include media($mobile) {
				font-size: 28px;
			}

			&:after {
				content:'';
				background: url("../images/arrow.png") no-repeat;
				background-size: 100%;
				position: absolute;
				top: -37px;
				right: 38px;
				width: 162px;
				height: 55px;

				@include media($desktop) {
					top: -62px;
					right: -4%;
				}

				@include media($tablet) {
					top: -64px;
					right: -18px;
				}

				@include media($mobile) {
					content: none;
				}
			}
		}

		h3 {
			font-size: 20px;
			line-height: 1.6;
			margin-bottom: 20px;

			@include media($mobile) {
				font-size: 16px;
			}
		}

		h4 {
			@include poppinsbold;
			font-size: 14px;
			color: $gray;

			span {
				@include poppinsextrabold;
				color: $red;
			}
		}

		p {
			font-size: 12px;

			span {
				color: $purple;
			}

			&.yellow {
				@include poppinsbold;
				color: $yellow;
			}
		}

		#myForm {
			background: $white;
			color: $black;
			min-height: 550px;

			.input_wrap {
				padding: 20px;
			}

			iframe {
				min-height: 250px;
			}

			.form-check {
				width: 49%;
				padding: 0;

				&.active {
					border-bottom: 3px solid $black;
					border-right: 1px solid $black;

					&.cashapp {
						border-left: 1px solid $black;
						border-right: none;
					}
				}

				.form-check-label {
					padding: 10px;
					width: 100%;
					text-align: center;

					img {
						margin: auto;
					}
				}

			}

			.form-group.tabs {
				background: $lightPurple;
			}

			.form-check-input {
				border-radius: 0;
				width: 100%;
				height: 100%;
				position: absolute;
				background: none;
				border: none;
			}
		}

		.confirmation {
			//min-height: 550px;
			border: 1px solid $purple;
			padding: 40px;
			border-radius: 6px;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;

			@include media($tablet) {
				padding: 20px;
			}

			h3 {
				font-size: 28px;
				line-height: 1.4;

				@include media($tablet) {
					font-size: 22px;
				}
			}

			p {
				color: $purple;
				font-size: 20px;

				@include media($tablet) {
					font-size: 16px;
				}

				span {
					color: $lightPurple;
				}
			}

			h4 {
				color: $yellow;

				@include media($tablet) {
					font-size: 12px;
				}
			}

			h5 {
				font-size: 20px;
				color: $white;

				@include media($tablet) {
					font-size: 16px;
				}
			}
		}
	}

	.success_stories {
		padding: 40px 0;

		h2 {
			font-size: 32px;

			@include media($mobile) {
				font-size: 26px;
			}
		}

		h3 {
			@include poppinsmedium;
			color: $red;
		}

	}

	.book_section {
		background: url('../images/book-background.jpg') no-repeat;
		background-size: cover;
		padding: 40px 0;
		color: $white;

		img {
			width: 55%;

			@include media($mobile) {
				width: 100%;
			}
		}

		p {
			span {
				@include poppinsbold;
				color: $red;
			}
		}

		a {
			width: 50%;

			@include media($tablet) {
				width: 70%;
			}

			@include media($mobile) {
				width: 50%;
			}
		}
	}

	.daily_thoughts {
		padding: 40px 0;

		h2 {
			font-size: 32px;

			@include media($mobile) {
				font-size: 26px;
			}
		}

		h3 {
			color: $gray;
			font-size: 18px;
			line-height: 1.4;

			&:before {
				content: '';
				background: url('../images/quotes.png') no-repeat;
				position: absolute;
				left: -12px;
				top: 0;
				width: 45px;
				height: 40px;
				background-size: 100%;

				@include media($mobile) {
					width: 25px;
					height: 30px;
					left:-28px;
				}
			}
		}
	}
}


footer {
	background: $black;
	color: $white;
	padding: 40px 0;
	line-height: 1.4;
	font-size: 12px;

	a {
		color: $white;

		&:hover {
			color: $gray;
		}
	}
}