// mixins

@mixin clearRow($nth) {
	&:nth-child(#{$nth}+1) {
		clear: both;
	}
}

// Omega Reset
@mixin omega-reset($nth, $columns) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter($columns); }
  &:nth-child(#{$nth}+1) { clear: none }
}

// Vertical Align
@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin horizontal-align {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

@mixin poppinsbold {
    font-family: 'poppinsbold', sans-serif;
    font-weight: 700;
}

@mixin poppinsextrabold {
    font-family: 'poppinsextrabold', sans-serif;
    font-weight: 800;
}

@mixin poppinsmedium {
    font-family: 'poppinsmedium', sans-serif;
    font-weight: 500;
}

@mixin poppinsregular {
    font-family: 'poppinsregular', sans-serif;
    font-weight: 300;
}

@mixin poppinssemibold {
    font-family: 'poppinssemibold', sans-serif;
    font-weight: 600;
}

@mixin sairabold {
    font-family: 'sairabold', sans-serif;
    font-weight: 700;
}

@mixin opensansregular {
    font-family: 'opensansregular', sans-serif;
    font-weight: 300;
}

@mixin opensanssemibold {
    font-family: 'opensanssemibold', sans-serif;
    font-weight: 400;
    font-style: italic;
}