// typography baselines and @font face setups

@font-face {
    font-family: 'poppinsbold';
    src: url('fonts/poppins-bold-webfont.eot'), url('fonts/poppins-bold-webfont.ttf') format('truetype'),url('fonts/poppins-bold-webfontt.woff') format('woff'), url('fonts/poppins-bold-webfont.woff2') format('woff2'), url('fonts/poppins-bold-webfont.svg#poppinsbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsextrabold';
    src: url('fonts/poppins-extrabold-webfont.eot'), url('fonts/poppins-extrabold-webfont.ttf') format('truetype'),url('fonts/poppins-extrabold-webfont.woff2') format('woff2'),url('fonts/poppins-extrabold-webfont.woff') format('woff'), url('fonts/poppins-extrabold-webfont.svg#poppinsextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'poppinsmedium';
    src: url('fonts/poppins-medium-webfont.eot'), url('fonts/poppins-medium-webfont.ttf') format('truetype'),url('fonts/poppins-medium-webfont.woff2') format('woff2'),url('fonts/poppins-medium-webfont.woff') format('woff'), url('fonts/poppins-medium-webfont.svg#poppinsmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'poppinsregular';
    src: url('fonts/poppins-regular-webfont.eot'), url('fonts/poppins-regular-webfont.ttf') format('truetype'),url('fonts/poppins-regular-webfont.woff2') format('woff2'),url('fonts/poppins-regular-webfont.woff') format('woff'), url('fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinssemibold';
    src: url('fonts/poppins-semibold-webfont.eot'), url('fonts/poppins-semibold-webfont.ttf') format('truetype'),url('fonts/poppins-semibold-webfont.woff2') format('woff2'),url('fonts/poppins-semibold-webfont.woff') format('woff'), url('fonts/poppins-semibold-webfont.svg#poppinssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'sairabold';
    src: url('fonts/Saira-Bold.eot'), url('fonts/Saira-Bold.ttf') format('truetype'), url('fonts/Saira-Bold.woff2') format('woff2'),url('fonts/Saira-Bold.woff') format('woff'), url('fonts/Saira-Bold.svg#sairabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensansregular';
    src: url('fonts/opensans-regular-webfont.eot'), url('fonts/opensans-regular-webfont.ttf') format('truetype'), url('fonts/opensans-regular-webfont.woff2') format('woff2'), url('fonts/opensans-regular-webfont.woff') format('woff'), url('fonts/opensans-regular-webfont.svg#opensansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensanssemibold';
    src: url('fonts/opensans-semibold-webfont.eot'), url('fonts/opensans-semibold-webfont.ttf') format('truetype'),url('fonts/opensans-semibold-webfont.woff2') format('woff2'),url('fonts/opensans-semibold-webfont.woff') format('woff'), url('fonts/opensans-semibold-webfont.svg#opensanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2 {
	@include poppinsbold;
}

h3, p {
	@include poppinsregular;
}
